<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>根据某次 Commit 进行代码回溯</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css"
    />
    <link rel="stylesheet" href="/stylesheets/mergely.css" />
    <link rel="stylesheet" href="/stylesheets/code-restoration.css" />
  </head>
  <body>
    <div class="wrappper">
      <div class="wrappper__header">
        <input class="ui-input proPath" placeholder="请输入项目路径" />
        <input
          class="ui-input proComminIds"
          placeholder="请输入当前分支 comminIds"
        />
        <a
          href="javascript:"
          class="ui-button ui-button-primary ok"
          role="button"
          >确定</a
        >
      </div>
      <div class="wrappper__body"></div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/mergely.min.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="/javascripts/code-restoration.js"></script>
  </body>
</html>
