<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <div class="wrappper">
      <div class="wrappper__username">
        <p>Username</p>
        <input class="ui-input username" placeholder="请输入用户名" />
      </div>
      <div class="wrappper__password">
        <p>Password</p>
        <input type="password" class="ui-input password" placeholder="请输入密码" />
      </div>
      <div class="wrappper__btns">
        <a
          href="javascript:"
          id="Login"
          class="ui-button ui-button-primary"
          role="button"
          >Login</a
        >
      </div>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/all.js"></script>
    <script src="/javascripts/login.js"></script>
  </body>
</html>
