* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-style: italic;
}

html,
body {
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.wrappper {
  width: 100%;
  height: 100vh;
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.wrappper__env {
  display: flex;
  gap: 20px;
  width: 400px;
}

.wrappper__lans {
  display: flex;
  gap: 20px;
  width: 400px;
}

.ui-input {
  border-radius: 0 !important;
  height: 30px !important;
}

.wrappper__lans_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ui-lightip {
  height: 50px;
  top: 20px;
}

.preview__mark {
  position: fixed;
  inset: 0;
}

.save-files,
.cancel-files {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1000;
}

.save-files {
  right: 150px;
}

.wrappper__lans_item {
  display: flex;
  align-items: center;
}

.wrappper__lans_item .ui-input {
  margin-left: 20px;
}

.ui-button-primary,
.ui-button-primary.disabled:hover,
.ui-button-primary.loading,
.ui-button-primary.loading:hover {
  border: 0;
  overflow: hidden;
}

.ui-button {
  border-radius: 0!important;
}

.ui-checkbox {
  border-radius: 0!important;
}

.ui-input>input, input.ui-input {
  border: 0!important;
}