* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-style: italic;
}

html,
body {
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.wrappper {
  width: 100%;
  height: 100vh;
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.wrappper__env {
  display: flex;
  gap: 20px;
  width: 480px;
}

.wrappper__lans {
  display: flex;
  gap: 20px;
  width: 480px;
}

.ui-button-success {
  height: 30px;
  margin-left: 15px;
  line-height: 30px;
  padding: 0;
  width: 80px;
}

.ui-input {
  border-radius: 0 !important;
  height: 30px !important;
}

.wrappper__lans_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ui-lightip {
  height: 50px;
  top: 30px;
}

.preview__mark {
  position: fixed;
  inset: 0;
}

.save-files,
.cancel-files {
  position: absolute;
  top: 20px;
  right: 50px;
  z-index: 1000;
}

.save-files {
  right: 150px;
}

.wrappper__lans_item {
  display: flex;
  align-items: center;
}

.wrappper__lans_item .ui-input {
  margin-left: 20px;
}

.ui-button-primary,
.ui-button-primary.disabled:hover,
.ui-button-primary.loading,
.ui-button-primary.loading:hover {
  border: 0;
  overflow: hidden;
}

.ui-button {
  border-radius: 0 !important;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 0;
}

.ui-checkbox {
  border-radius: 0 !important;
}

.ui-input > input,
input.ui-input {
  border: 0 !important;
}

.wrappper__getFiles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapper__back {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #212121
    url("data:image/svg+xml;base64,PHN2ZyB0PSIxNzI3NTA5NjE0OTE4IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjQzNDkiIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCI+PHBhdGggZD0iTTc2OS40MDUgOTc3LjQ4M2MtMjcuMDc0IDI3LjU2OC03MS4wNDUgMjcuNTY4LTk4LjEyMSAwbC00MTYuNTkxLTQyMy44MDRjLTI3LjE3My0yNy41NjgtMjcuMTczLTcyLjIzMSAwLTk5Ljg5OWw0MTYuNDkyLTQyMy44MDRjMTMuNTM3LTEzLjczNCAzMS4zMjQtMjAuNjUyIDQ5LjEwOS0yMC42NTJzMzUuNTcyIDYuOTE3IDQ5LjEwOSAyMC42NTJjMjcuMTczIDI3LjU2OCAyNy4xNzMgNzIuMzMxIDAgOTkuODk5bC0zNjcuNDgyIDM3My44MDYgMzY3LjQ4MiAzNzMuOTA0YzI3LjA3NCAyNy41NjggMjcuMDc0IDcyLjIzMSAwIDk5Ljg5OXoiIHAtaWQ9IjQzNTAiIGZpbGw9IiNmZmZmZmYiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
  display: none;
}

select {
  border: 0 !important;
}
