* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-style: italic;
}

html,
body {
  height: 100%;
  overflow: hidden;
  user-select: none;
  color: #fff;
}

.wrappper {
  width: 100%;
  height: 100vh;
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.ui-input {
  outline: none !important;
  border: 0 !important;
  height: 40px !important;
  border-radius: 0 !important;
  margin-left: 10px;
}

.wrappper__username,
.wrappper__password,
.wrappper__btns {
  display: flex;
  align-items: center;
}

.ui-lightip {
  height: 50px;
  top: 30px;
}

.login_box,
.register_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrappper__btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.register_method,
.login_method {
  color: #fff;
}

.isLogin .login_box {
  display: flex;
}

.isLogin .register_box {
  display: none;
}

.isR .login_box {
  display: none;
}

.isR .register_box {
  display: flex;
}

h2 {
  text-align: center;
}

.ui-button-primary,
.ui-button-primary.disabled:hover,
.ui-button-primary.loading,
.ui-button-primary.loading:hover {
  border: 0;
  overflow: hidden;
}

.ui-button {
  border-radius: 0!important;
}

.ui-checkbox {
  border-radius: 0!important;
}

.ui-input>input, input.ui-input {
  border: 0!important;
}

select {
  border: 0!important;
}