* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
  font-style: italic;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}

html,
body {
  height: 100%;
  overflow: hidden;
  user-select: none;
  color: #fff;
}

.wrappper {
  width: 100%;
  height: 100vh;
  background-color: #3c3c3c;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.ui-lightip {
  height: 50px;
  top: 30px;
}

.ui-input {
  border-radius: 0 !important;
  height: 35px !important;
}

.wrappper__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-height: 80%;
  overflow-x: hidden;
  overflow-y: auto;
}

.lan {
  width: 70px;
}

.port {
  width: 70px;
}

.filename {
  width: 200px;
}

.add {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNzI3MzU1ODg3MTQ2IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjQ0NjkiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNNTEyIDBDMjI5LjI0OCAwIDAgMjI5LjI0OCAwIDUxMmMwIDI4Mi42ODggMjI5LjI0OCA1MTIgNTEyIDUxMiAyODIuNzUyIDAgNTEyLTIyOS4zMTIgNTEyLTUxMkMxMDI0IDIyOS4yNDggNzk0Ljc1MiAwIDUxMiAwek03NjggNTM1LjI5NiA1MzUuMjMyIDUzNS4yOTYgNTM1LjIzMiA3NjggNDg4Ljc2OCA3NjggNDg4Ljc2OCA1MzUuMjk2IDI1NiA1MzUuMjk2IDI1NiA0ODguNzA0bDIzMi43NjggMEw0ODguNzY4IDI1Nmw0Ni41MjggMCAwIDIzMi43MDRMNzY4IDQ4OC43MDQgNzY4IDUzNS4yOTZ6IiBwLWlkPSI0NDcwIiBmaWxsPSIjZmZmZmZmIj48L3BhdGg+PC9zdmc+")
    no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  flex-shrink: 0;
}

.add:active {
  transform: translateY(-2px);
}

.wrappper__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delete {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  background: url("data:image/svg+xml;base64,PHN2ZyB0PSIxNzI3Mzk2NTQ3MzgyIiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjU1MTgiIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cGF0aCBkPSJNNTA3LjkwNCA1Mi4yMjRxOTUuMjMyIDAgMTc5LjIgMzYuMzUydDE0NS45MiA5OC4zMDQgOTguMzA0IDE0NS40MDggMzYuMzUyIDE3OC42ODgtMzYuMzUyIDE3OS4yLTk4LjMwNCAxNDUuOTItMTQ1LjkyIDk4LjMwNC0xNzkuMiAzNi4zNTItMTc4LjY4OC0zNi4zNTItMTQ1LjQwOC05OC4zMDQtOTguMzA0LTE0NS45Mi0zNi4zNTItMTc5LjIgMzYuMzUyLTE3OC42ODggOTguMzA0LTE0NS40MDggMTQ1LjQwOC05OC4zMDQgMTc4LjY4OC0zNi4zNTJ6TTczNi4yNTYgNTczLjQ0cTMwLjcyIDAgNTUuMjk2LTE1Ljg3MnQyNC41NzYtNDcuNjE2cTAtMzAuNzItMjQuNTc2LTQ1LjU2OHQtNTUuMjk2LTE0Ljg0OGwtNDUyLjYwOCAwcS0zMC43MiAwLTU2LjMyIDE0Ljg0OHQtMjUuNiA0NS41NjhxMCAzMS43NDQgMjUuNiA0Ny42MTZ0NTYuMzIgMTUuODcybDQ1Mi42MDggMHoiIHAtaWQ9IjU1MTkiIGZpbGw9IiNmZmZmZmYiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
  background-position: center;
  background-size: cover;
}

.wrappper__center__item {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-shrink: 0;
  padding-right: 10px;
}

.ui-button-primary,
.ui-button-primary.disabled:hover,
.ui-button-primary.loading,
.ui-button-primary.loading:hover {
  border: 0;
  overflow: hidden;
}

.ui-button {
  border-radius: 0 !important;
}

.ui-checkbox {
  border-radius: 0 !important;
}

.ui-input > input,
input.ui-input {
  border: 0 !important;
}

.wrapper__back {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: #212121
    url("data:image/svg+xml;base64,PHN2ZyB0PSIxNzI3NTA5NjE0OTE4IiBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHAtaWQ9IjQzNDkiIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCI+PHBhdGggZD0iTTc2OS40MDUgOTc3LjQ4M2MtMjcuMDc0IDI3LjU2OC03MS4wNDUgMjcuNTY4LTk4LjEyMSAwbC00MTYuNTkxLTQyMy44MDRjLTI3LjE3My0yNy41NjgtMjcuMTczLTcyLjIzMSAwLTk5Ljg5OWw0MTYuNDkyLTQyMy44MDRjMTMuNTM3LTEzLjczNCAzMS4zMjQtMjAuNjUyIDQ5LjEwOS0yMC42NTJzMzUuNTcyIDYuOTE3IDQ5LjEwOSAyMC42NTJjMjcuMTczIDI3LjU2OCAyNy4xNzMgNzIuMzMxIDAgOTkuODk5bC0zNjcuNDgyIDM3My44MDYgMzY3LjQ4MiAzNzMuOTA0YzI3LjA3NCAyNy41NjggMjcuMDc0IDcyLjIzMSAwIDk5Ljg5OXoiIHAtaWQ9IjQzNTAiIGZpbGw9IiNmZmZmZmYiPjwvcGF0aD48L3N2Zz4=")
    no-repeat;
  background-position: center;
  background-size: 20px 20px;
  cursor: pointer;
}

select {
  border: 0 !important;
}
